VITE_SUPABASE_URL=https://tuadcklstzbfbsjmxfca.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1YWRja2xzdHpiZmJzam14ZmNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0OTc4NDYsImV4cCI6MjA5MzA3Mzg0Nn0.HUyL3m3p1OOdF1SwXVLs2XMDnIJZJanOItok210q19s